/* import poppins font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&family=Lato:wght@300;700&family=Poppins:wght@100;300;400;500;600;700;800;900&family=Roboto:wght@400;500;700&display=swap');
/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
a{
    text-decoration: none;
    transition:color 0.2s ease-in-out;
    -webkit-transition:color 0.2s ease-in-out;
    -moz-transition:color 0.2s ease-in-out;
    -ms-transition:color 0.2s ease-in-out;
    -o-transition:color 0.2s ease-in-out;
}
i{
    cursor: pointer;
}
input,button{
    border: none;
    outline: none;
}
li{
    list-style: none;
}
body{
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
    margin: 0 auto;

}
body.dark{
    --black--color:#000;
    --light--black--color:#777779;
    --hover--color:#d946ef;
    background-color:#18181b;
    --box1--color:#303030;
    --box2--color:#303030;
    --box3--color:#303030;
}
:root{
    --primary--color:#a21caf;
    --black--color:#000;
    --light--black--color:#1c1917;
    --hover--color:#d946ef;
    --box1--color:#fb7185;
    --box2--color:#818cf8;
    --box3--color:#bef264;
}

/* styling nav section */
nav{
    width:20%;
    border-right:1px solid #ccc;
    min-height: 100vh;
    padding:0;
    display: flex;
    flex-direction:column;
    justify-content:space-between;
}
nav.close{
    width:5%;
    text-align:center;
}
nav .logo-container{
    padding:14px 0;
    display: flex;
    width: 100%;
}
nav .logo-container i{
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-text{
    font-size:21px;
    font-weight:bold;
    color: var(--primary--color);
}
.logo-text.hidden{
    display:none;
}
.navLink-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    
}
.navLink-text{
    font-size:19px;
    font-weight:420;
    color: var(--light--black--color);
    
}
.navLink-text.hidden{
    display: none;
}

li:hover i,li:hover a{
    color: var(--hover--color);
}
.option-container{
    border-top:1px solid #ccc;
}
nav li {
    padding:1.5rem 0;
    width: 100%;

}
nav i{
    font-size:22px;
    font-weight:bold;
    padding:0.5rem;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    color: var(--light--black--color)
}
.toggle{
    background-color: rgb(77, 75, 75);
    width:40px;
    height:20px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    position: relative;
}
.toggle-container{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-between;

}
.pointer-toggle{
    width:15px;
    height:12px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    background-color: rgb(250, 245, 245) ;
    position:absolute;
    left:5%;
    top:20%;
    z-index: 10;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.pointer-toggle.dark{
    left: 60%;
}
.toggle-container.close {
    flex-direction: column;
    align-items: space-between;
    margin-top: 1rem;
}
/* nav section styling finished */

/* top bar */
.container{
    width:80%;
    position: relative;
    left: 0;
    top: 0;
}
.container.close{
    width:95%;
}

header{
    display: flex;
    align-items:center;
    padding:1rem;
    width:100%;
    justify-content:space-between;
    border-bottom: 1px solid #ccc;
}

header i {
    font-size:24px;
    font-weight:bolder;
    cursor: pointer;
    color: var(--light--black--color);
    transition:all 0.2s ease-in-out;
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -ms-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
}
header i:hover{
    color: var(--hover--color);
}
.input-container {
    width:50%;
    position: relative;
    border-radius: 5px;
}
input{
    width:100%;
    padding:6px 8px;
    font-size:16px;
    color: var(--light--black--color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid #ccc;
    -webkit-box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.07); 
    box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.07);
}
input:focus{
    border: 1px solid var(--primary--color)
}
.input-container i{
    position:absolute;
    right:2px;
    top: 2px;
    z-index: 20;
    height:90%;
    width:50px;
    display: flex;
    align-items:center;
    justify-content:center;
    background-color: #fff;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}
/* top bar styling finished */
/* box section styling*/
.box-section{
    padding:1rem;
    border-bottom:1px solid #ccc;
    width:100%;
}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.title-container i{
    font-size: 22px;
    color:#fff;
    width:40px;
    background-color: var(--primary--color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    justify-content:center;
    align-items:center;
    height:30px;
    margin-right:0.5rem;
}
.title{
    color: var(--light--black--color);
}
.boxes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content:center;
    margin: 20px auto;
    gap: 15px;

}
.boxes .box{
    width: 300px;
    height:200px;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    -webkit-box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.07); 
    box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.07);
}
.box i{
    font-size: 24px;
    font-weight:bolder;
    color: var(--light--black--color);

}
.box p{
    font-size:20px;
    color: var(--light--black--color);
    font-weight:450;
}
.box h3{
    color: var(--light--black--color);
}
.box1{
    background-color: var(--box1--color);
}
.box2{
    background-color: var(--box2--color);
}
.box3{
    background-color: var(--box3--color);
}
/* box section styling finished*/
/* styling recently activity */
.recently-activity{
    width:100%;
    padding:1rem
}
.info-titles{
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    color: var(--light--black--color);
}
.users{
    height:35vh;
    overflow: scroll;
    width: 100%;
}
.user{
    display: flex;
    justify-content:space-between;
    margin: 10px auto;
    padding:1rem 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.07); 
    box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.07);
    color: var(--light--black--color);
    min-width:500px;
}
/* recently activity styling finished*/



/* add some media queries to make our app fully responsive*/
/* bootstrap v5 break points */
@media (max-width: 575.98px) {
    .container{
        width: 90%!important;
    }
    nav{
        width:10%
    }
    .navLink-text{
        display: none;
    }
    .logo-text{
        display:none
    }
    .burgerMenu{
        display:none
    }
    .navLink-container{
        align-items:center;
        justify-content:center;
    }
    
}

@media (max-width: 767.98px) {
    .container{
        width: 88%;
    }
    .container.close{
        width: 90% 
    }
    nav.close{
        width: 10% 
    }
    .navLink-text{
        font-size:14px
    }
    .logo-text{
        font-size:16px
    }
    nav i{
        font-size:17px;
        padding:0 0 0 4px;
    }
    .info-titles h4{
        padding:0 4px
    }
    .logo-container{
        flex-direction: column;
        align-items:flex-start;
        padding-left: 5px;
    }
}

@media (max-width: 991.98px) {
    .navLink-text{
        font-size:17px
    }
    .logo-text{
        font-size:19px
    }
    nav i{
        font-size:20px;
        padding:0 0 0 5px;
    }
    .toggle-container{
        flex-direction:column;
    }
    .container{
        width:80%;
        position: relative;
        left: 0;
        top: 0;
    }
    .info-titles h4{
        padding:0 3px
    }
    

}

@media (max-width: 1199.98px) {
    
    .navLink-text{
        font-size:18px
    }
    .logo-text{
        font-size:20px;
    }
    nav i{
        font-size:21px;
        padding:0 0 0 5px;
    }
    nav li{
        padding: 2.1rem 0;
    }
    .toggle{
        background-color: rgb(77, 75, 75);
        width:35px;
        height:18px;
    }
    .pointer-toggle{
        width:12px;
        height:10px;
    }
}
